:root{
  --gold : rgb(237, 167, 32);
  --gold70 : rgba(237, 169, 32, 0.7);
}

.loginContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: auto;    
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  padding: 30px 20px;    
  margin-top: 50px;    
  transition: 0.4s;
}

.loginContainer:hover{
  width: 41%;     
  border: 1px solid #CD853F;
}

.loginHeader{
  font-family: 'Salsa', cursive;  
  color:var(--gold);
}

.inputText{
  margin: auto;
  padding: 10px 20px;  
  text-align: left;  
  width: 70%;
  margin-top: 20px;      
}

.loginBtn{
  font-family: 'Salsa', cursive;  
  font-size: 16px; 
  color:var(--gold);
  text-decoration: none;
  border: 1px solid black;
  background-color: #202020;  
  text-align: center;
  padding: 10px;  
  cursor: pointer;
  margin-left: 20px; 
  transition: 0.4s; 
}
.loginBtn:active {  
  background-color: #101010;  
  padding: 12px;
}
.loginBtn:hover {
  color:#e8eaed;
  border: 1px solid #9aa0a6;    
  font-size: 18px; 
}

/* -------- Snackbar / Toast -------------- */
/* The toast - position it at the bottom and in the middle of the screen */
#toast {
  font-family: 'Salsa', cursive;  
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color:var(--gold);
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the bottom */
}

/* Show the toast when clicking on a button (class added with JavaScript) */
#toast.show {
  visibility: visible; /* Show the toast */
  /* Add animation: Take 0.5 seconds to fade in and out the toast.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}


 /* ------ responsive ------- */
@media screen and (max-width: 1500px) {
  .loginContainer{
    width: 80%;
  }
  .loginContainer:hover{
    width: 81%;
  }
}

@media screen and (max-width: 800px) {
  .loginContainer{
    width: 90%;
  }
  .loginContainer:hover{
    width: 91%;
  }
  .loginBtn{
    font-size: 14px;
    padding: 5px;
    margin-left: 5px; 
  }
}

@media screen and (max-width: 500px) {
  .loginContainer{
    width: 99%;
  }
  .loginContainer:hover{
    width: 100%;
  }
  .loginBtn{
    font-size: 10px;
    padding: 2px;
    margin-left: 1px; 
  }
}